/* Empty. Add your own CSS if you like */

.tab-item.activated,
.tab-item.tab-item-active {
	color: #333 !important;
}

.tab-item-powerup.activated .icon,
.tab-item-powerup.tab-item-active .icon {
	color: green !important;
}

.tab-item-hunt.activated .icon,
.tab-item-hunt.tab-item-active .icon {
	color: #ffd700 !important;
}

.tab-item-profile.activated .icon,
.tab-item-profile.tab-item-active .icon {
	color: #387ef5 !important;
}

.item-profile {
  height: 100px;
}

img.circle-image {
  border-radius: 100px;
}